<div class="box vertical-center">
        <div class="container">
            <img src="img/404.png" alt="WA logo" width="300" class="divider-bottom-md">

            <h2 class="text-info-light divider-bottom-sm">Sorry, to bother you, sir, but it seems like we've sailed into uncharted waters</h2>

            <h1>Page not found</h1>

            <a href ng-click="notFoundCtrl.back()" class="text-base divider-bottom underlined text-primary">
                How about we turn back for now
            </a>
        </div>
    </div>